services:
  mongodb:
    image: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=mongopw
    ports:
      - 27017:27017
    volumes:
      ## Giving anonymous volumes (volumes without name like this -mongodata:)
      - /var/lib/mongodb/data